# -----------------------------
# Environment
# -----------------------------
.env
.env.*

# Keep template files
!.env.example

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Windows
# -----------------------------
Thumbs.db
Desktop.ini

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Backup files
# -----------------------------
*.bak
*.tmp
*.temp

# -----------------------------
# OS
# -----------------------------
.DS_Store

# -----------------------------
# Docker
# -----------------------------
docker-data/